$red:#d3145a;
$blue:#0779E4;
$green:#00C89A;
$yellow:#FEB608;
$dark-grey:#5E6571;
$background:#f7f8fc;

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $background;
    margin: 0;
    padding: 0;
    
}
a {
    text-decoration: inherit;
    color: inherit;

}

li {
    list-style: none;
}

ul {
    padding: 0;
}

.clear{
    clear: both;
}

@mixin center {
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translateX(-50%) translateY(-50%);
    -webkit-transform: translateX(-50%) translateY(-50%);
    transform: translateX(-50%) translateY(-50%);   
}

.blur{
    filter: blur(5px);
}