$red:#d3145a;
$blue:#0779E4;
$green:#00C89A;
$yellow:#FEB608;
$dark-grey:#5E6571;
$background:#f7f8fc;

body {
    font-family: 'Montserrat', sans-serif;
    background-color: $background;
}
a {
    text-decoration: none;
}