.button {
    
    height: 30px;
    width: 100px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
    float: right;
    border-radius: 2px;
  
    & button {
        border: none;
        outline: none;
        background-color: transparent;
        color: white;
        cursor: pointer;
    }
    & i {
        color: white;
    }

    &.primary{
        background-color: $blue;
        &:active{
            background-color: darken($blue, 5%);
        }
    }
    &.danger {
        background-color: $red;
        &:active{
            background-color: darken($red, 5%);
        }
    }
    &.warning {
        background-color: $yellow;
        &:active{
            background-color: darken($yellow, 5%);
        }
    }
}