.create-user-popup {
    background-color:white;
    box-shadow: 1px 1px 2px;
    width: 600px;
    @include center;
    &__box-container{
        display: flex;
        & .menu-box{
            margin-top: 0;
        }
    }
    & .box-label{
        margin-left: 12px;
    }
}
.roles {
    display: flex;
}