.form-field-text {
    margin: 6px;
    &__input {
        display: flex;
        align-items: center;
        height: 100%;
        width: 100%;
        max-width: 350px;
        height: 40px;
        border-bottom:2px solid $blue;
        background-color:lighten($blue, 50%);
        & input {
            border: none;
            color: black;
            background-color:lighten($blue, 50%);
            &:focus {
                outline:none;
            }
        }
        &.error {
            & input {
                background-color: lighten($red, 50%);
            }
            background-color: lighten($red, 50%);
            border-bottom:2px solid $red;
        }
    }
    & small {
        color: $red;
    }
}
