.menu-box {
    background-color:white;
    box-shadow: 1px 1px 2px;
    text-align: center;
    margin: 12px;
    &:active {
        box-shadow: 2px 2px 4px;
    }
    cursor: pointer;
    & i {
        font-size: 5em;
        padding: 6px;
        margin: 12px;
        color: $dark-grey;
    }
    & h2 {
        position: relative;
        top: 36px;
        color: $dark-grey;
    }
    &.small {
        width: 125px;
        height: 125px;
        & i {
            font-size: 2rem;
        }
    }
    &.medium{
        width: 250px;
        height: 250px;
        & i {
            font-size: 4rem;
        }
    }
    &.large {
        width: 500px;
        height: 500px;
        & i {
            font-size: 6rem;
        }
    }
    &.error{
        background-color:lighten($red, 50%)
    }   
    &.selected{
        background-color:lighten($blue, 50%);
        
    }
}